* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar {
    background-color: black;
    color: white;
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navheading p {
    margin-left: 15px;
}

.blue-underline {
    color: rgb(0, 108, 250);
    text-decoration: underline;
}